@*@model DeliveryStoreViewModel*@
<h3>Details Page</h3>

<h3>@ViewData["PageTitle"]</h3>

@{
    var deliveryStore = ViewData["DeliveryStore"] as EComeAdminUI.Models.DeliveryStore;
}


<div>
    Id:@Model.Id
</div>
<div>
    FSA:@Model.FSA
</div>

<div>
    StoreNumber:@Model.StoreNumber
</div>
<div>
    DeliveryVendorId:@Model.DeliveryVendorId
</div>
<div>
    DeliveryVendorName:@Model.DeliveryVendorName
</div>
<div>
    DeliveryFeePLU:@Model.DeliveryFeePLU
</div>
<div>
    DeliveryFeePromo:@Model.DeliveryFeePromo
</div>
<div>
    ClientCode:@Model.ClientCode
</div>

